<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134700258097-ribaghhmks0soi0u079mgka3qj3kl565.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134700258097-ribaghhmks0soi0u079mgka3qj3kl565</string>
	<key>API_KEY</key>
	<string>AIzaSyBfBJg-FRJ26ZUjlb1IIVweNQGN4FE_z2M</string>
	<key>GCM_SENDER_ID</key>
	<string>134700258097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.new1</string>
	<key>PROJECT_ID</key>
	<string>m-tracker-62124</string>
	<key>STORAGE_BUCKET</key>
	<string>m-tracker-62124.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134700258097:ios:b6358ffe1a7c61bf109610</string>
</dict>
</plist>